body {
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgba(119,32,127,1) 51%, rgba(7,128,184,1) 85%);
}

.Nredacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 16px;
}

.campo {
    display: flex;
    padding: 8px;

    width: 100%;
    max-width:600px;
    aspect-ratio: 2 / 3 ;
    height: auto;
    flex-wrap: wrap;
    margin-top: 100px;
    background-color: rgb(74, 74, 87);
    color: rgb(42, 199, 219);
    border-radius: 10px;
}

.butao {
    display: flex;
    justify-content: end;
}
