body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(137,27,147,1) 43%, rgba(0,212,255,1) 97%);
}


.perfil{
   display: flex;
   flex-direction: column;
   margin-top: 25px;
}

.nova{
    display: flex;
    text-align: center;
    user-select: none;
    justify-content: end;
    margin-top: 620px;
}

.redacao {
    display: flex;
    flex-wrap:wrap;
    margin-top: -600px;
    margin-left: 50px;

    
}

.r2,.r3 {
    width: 300px;
    margin-right: 150px;
}

.nredacao01 {
    margin-right: 20px;
}

