body {
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgba(119,32,127,1) 51%, rgba(7,128,184,1) 85%);
}

.barra {
    background-color: rgb(41, 41, 41);
    width: 100px;
    margin-bottom: 900px;
    padding-block-start: 400px;
    padding-block-end: 450px;
    margin-top: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 30px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    
}

.Tema {
    display: flex;
    justify-content: end;
    margin-top: -1750px;
    margin-bottom: 200px;

}

button.perfil {
    margin-top: -380px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 30px;
    border: solid rgb(48, 48, 48);
    color: aliceblue;
    background-color: rgb(74, 74, 87);
    box-shadow: black 1px 2px 2px 2px;

}

button.redacao {
    padding: 20px;
    border-radius: 30px;
    border: solid rgb(48, 48, 48);
    color: aliceblue;
    background-color: rgb(74, 74, 87);
    box-shadow: black 1px 2px 2px 2px;

 
}

button:hover {
    background-color: rgb(110, 110, 110);
    color:aliceblue;
  }