.Botao {
    display: block;
    padding: 8px;
    width: 90px;
    border-radius: 22px;
    border: solid rgb(48, 48, 48) 1px;
    color: aliceblue;
    background-color: rgb(74, 74, 87);
    box-shadow: black 1px 2px 2px 2px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
   }

.Botao:hover {
   
    background-color: rgb(68, 68, 68);
    color:aliceblue;
  }