.cabe {
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bolder;
    padding: 17px;
    padding-left: 920px;
    
}

.butao {
    display: flex;
    justify-content: end;
    margin-top: -85px;
    margin-right: 20px;
    
}
